<% provide(:title, 'Autumn/Spring') %>
<h1>Autumn/Spring</h1>
<%= render 'layouts/print' %> 
<h2>In advance</h2>

<h3>Pool</h3> 
<ul>
	<li>See below</li> 
</ul>
<h3>Phone</h3> 
<ul>
    <li>Cancel the phone</li> 
    <li>Cancel the internet</li> 
</ul>
<h3>Kitchen</h3> 
<ul> 
    <li>Clean the main fridge of perishable food; defrost both fridges</li> 
    <li>Put perishable food in storage tins</li> 
</ul>
<h3>Sofas</h3> 
<ul> 
    <li>Cover sofas with plastic/dust sheets</li> 
</ul>
<h3>Mice</h3> 
<ul> 
    <li>Put down mouse bait</li> 
</ul>
<h3>Garden</h3> 
<ul> 
    <li>Bring comfy loungers into the house</li> 
    <li>Bring BBQ into house and store by the stove</li> 
    <li>Close up the storage cupboard under the stairs and the pool store</li> 
    <li>Store pots under the hedge</li> 
    <li>Hide the wheelbarrow</li> 
    <li>Bring in the clothes line</li> 
</ul>
<h2>Leaving</h2>
<h3>Water</h3> 
<ul> 
    <li>Take reading</li> 
    <li>Drain the plumbing - see below</li>
</ul>
<h3>Shutters</h3> 
<ul> 
    <li>Close</li> 
</ul>
<h3>Phone</h3> 
 <ul>
    <li>Unplug phone from socket</li> 
</ul>
<h3>Electricity</h3> 
<ul> 
    <li>Switch off</li> 
    <li>Take reading</li>
    <li>Remove all plugs</li>
</ul>
<h3>Keys</h3> 
<ul> 
    <li>One with Jehan Valette</li>
    <li>One hidden</li>
</ul>

<h2>Pool</h2>
<p><strong>These instructions are for the new pool cover and have yet to be tested in practice!</strong></p>

<h3>Weekly clean</h3>
<ul>
	<li>Bottom of pool</li>
    <li>Liner at water level.</li>
    <li>Filter basket</li>
    <li>Filter - but perform several BACKWASH/RINSE cycles</li>
    <li>Leave the pump OFF</li>
</ul>

<h3>Steps</h3>
<ul>
    <li>Undo the bolts securing the steps.</li>
    <li>Clean the steps and store them.</li>
</ul>

<h3>Water in pool</h3>
<ul>
	<li>Do not drain off any water from the pool.</li>
	<li>Add enough anti-freeze for 50m3
</ul>

<h3>Plugs</h3>
<p>Note that this will have to be done under water!<p>
<ul>
	<li>Remove and store the jets from the inlets and use small plugs on inlets and on the vacuum outlet</li>
	<li>Remove and store the skimmer basket; insert the large bung into the skimmer outlet</li>
</ul>

<h3>Drain</h3>
<ul>
	<li>Open the SKIMMER, PRISE BALAI ASPIRATEUR, BONDE DE FOND and REFOULEMENT valves</li>
    <li>Open the filter basket cover. The pipes to the pool will drain into the pump house.</li>
    <li>Store the filter basket cover and basket</li>
	<li>Remove and store bottom plug of the sand filter to drain it</li>
	<li>Remove and store the top cover of the sand filter</li>
    <li>Remove and store the bottom plugs of the pump (two) to drain</li>
</ul>

<h3>Pump house</h3>
<ul>
    <li>Clean out debris and standing water</li>
    <li>Fill with as much bubble wrap as available</li>
</ul> 

<h3>Covers</h3> 
<ul>
    <li>Close the main cover and attach the clips</li>
    <li>Install the net using metal stakes and elastics</li>
	<ul>
		<li>start with middle pegs at one end</li>
		<li>move down pool doing the occasional peg on both sides</li>
		<li>do middle pegs at other end</li>
		<li>finally do corners</li>
    </ul>
    <li>Store the key for the cover behind the main front door</li>
</ul>
<h3>Power</h3>
<ul>
	<li>Cut power at distribution board in Salon</li>
</ul>

<h2>Draining the plumbing</h2>
<p>Do all the following - about half an hour of work. To re-fill the system, after the winter, it is generally necessary to reverse each of these stages, and then to open each tap to let out trapped air, until the water runs freely…then, finally, to close the chauffeau fuses on the main fuse box.
</p>

<ol>
    <li>Chauffeau fuses:
        <ul>
            <li>Ensure that the chauffeau fuses on the main fuse box are in the open position.</li>
        </ul>
    </li>

	<li>Main stop cock:
        <ul>
            <li>Turn off the main stop cock next to the meter, outside the front door (Tap handle will then be at right angles to the line of the water pipe).</li>
            <li>Ensure there is insulation covering the water meter.</li>
        </ul>
    </li>

	<li>Behind the house:
		<ul>
			<li>Turn on the outside tap.</li>
        	<li>Open the mixer tap.</li>
            <li>Open both taps on the main shower column</li>
            <li>Unscrew the bottom of the flexible hose</li>
        	<li>Loosen the brass drain cock at the bottom of the pipe on your left.</li>
		</ul>
	</li>

	<li>Kitchen:
		<ul>
			<li>Turn on the sink tap (Set it to the middle, so both hot and cold are on).</li>
            <li>Turn on the washing-up machine tap (Right hand side, below the sink). This will release water, so put a bowl beneath it, first.</li>
            <li>Disconnect the flexible pipe to the washing machine (unscrew the blue collar ant-clockwise).</li>
            <li>Turn on the washing machine tap. This will release water, so catch it in a mug.</li>
            <li>Ditto for the dishwasher</li>
        </ul>     
    </li>

	<li>Main shower room:
		<ul>
			<li>Flush the loo.
            <li>Open basin tap … keep it in the middle to open both hot and cold.</li>
            <li>Place shower head on the floor of the shower, then open the shower tap, again at the central position.</li>
        </ul>
    </li>

	<li> Bathroom en-suite to guest bedroom:
		<ul>
			<li>Flush the loo.</li>
            <li>Turn on hot and cold bath and basin  taps.</li>
            <li>Turn on both bidet taps.</li>
            <li>Drain the chauffeau by turning the red knob one click anti-clockwise…this can be left to drain in it’s own time (Approx 15 minutes)</li>
        </ul>
    </li>

    <li> Salon, above window on the right as you enter:
        <ul>
            <li>Remove segments from the ceiling.</li>
            <li>Open drain cocks and catch water.</li>
        </ul>
    </li>

    <li>Main sitting room, behind the front door:
    	<ul>
    		<li>Raise electrical items off the floor.</li>
            <li>Ensure the tap on the top, on the right (The big one) is open … i.e. turned fully anticlockwise. This is good for all the year.</li>
            <li>Open the horizontal drain cock on the left, slowly, and catch the water which will run out….probably 3+ saucepans full.  Leave it open, with a pan beneath to catch drips which will continue for an hour or so.</li>
        </ul>
    </li>

    <li>Finally:  Pour a little car antifreeze into each plug hole:
    	<ul>
            <li>Kitchen sink</li>
            <li>Shower</li>
            <li>Bath</li>
            <li>Bidet</li>
            <li>Both wash basins on the top floor</li>
            <li>The two loos (the bowls and the cisterns)</li>
        </ul>
    </li>
    <li>Remember !….
    	<ul>
    		<li>Andy can blow the system clear with compressed air …. That extracts a good few saucepans full</li>
    		<li>When re-filling the system, check that each stage has been dealt with. A loose drainage point will cause a minor flood ……..!</li>
    	</ul>
    </li>
   </ol>
