<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
<h2>Jim and Alex Hunter</h2>
</p>
<p>
14 Caledonian Place<br>
ABERDEEN<br>
AB11 6TT<br>
UK<br>
<em>Phone</em> (+44) 01224 582 669
</p>
<p>
Lacaze<br>
Toulonjac<br>
12200 VILLEFRANCHE-DE-ROUERGUE<br>
FRANCE<br>
<em>Phone</em> (+33) 05 64 45 19 11
</p>
<h2>Jim</h2>
<em>Mobile</em> (+44) 07724 056 224<br>
<em>email</em> j.hunter@abdn.ac.uk
</p>
<h2>Alex</h2>
<em>Mobile</em> (+44) 07746 776 143<br>
<em>email</em> alexchunter@hotmail.com
</p>
