<% provide(:title, 'Directions') %>
<h1>Directions</h1>
<%= render 'layouts/print' %> 
<p>
The nearest large town is <strong>Villefranche-de-Rouergues</strong> in the <strong>Aveyron</strong> department.
</p>
<h2>From Toulouse</h2>
<p>
The easiest airport to fly to is <strong>Toulouse</strong>, with flights from London (BA and Easyjet), Paris, Frankfurt, Istanbul(!), etc. and (in the summer) Edinburgh. You should allow 1½ to 2 hours to drive to the house from Toulouse Airport. 
</p>
<p>
On exiting the airport, follow signs for <strong>Toulouse</strong> until you see signs to the <strong>Bordeaux/Paris</strong> autoroute. Once on the main autoroute, you will need to take a ticket at the Peage. There are two sections where you need to pay; you pay on leaving the section (see below). When the autoroute splits, follow the signs for <strong>Paris/Montaubon</strong> (not Bordeaux) and continue to Causade. Leave the autoroute at <strong>Caussade</strong> and take signs for <strong>Villefranche</strong> via <strong>Caylus</strong> on the <strong>D926</strong>. It's a good road, very straight, but there are speed traps so be careful. At the departmental boundary into the Aveyron the road becomes the <strong>D1</strong>. At the first main roundabout, remain on the D1; do not take the road signed into Villefranche, but keep going straight ahead (signed for <strong>Rodez</strong>). Shortly after, take the first exit for the <strong>D24</strong> and <strong>Cajarc/Toulonjac</strong>. Coming off the slip road turn left - not right into Villefranche - and enter <strong>Toulonjac</strong>.
<p>
<strong>Cost of autoroute tolls</strong>: 
<ul>
<li>Toulouse northwards: 2.50 euros</li>
<li>Montaubon to Caussade: 1.40 euros</li>
</ul>
Change is given; you can also use a credit card.
</p>
<h2>From Toulonjac</h2>
Continue through the village, with the bar/restaurant (Le Claux de Belvezet) on your left. Soon after a left-hand bend and the sign marking the end of the village, take the first small road on the <strong>right</strong> marked with a 'No Through Road' sign. <strong>Ignore the sign pointing to La Caze!</strong> Take the first turning on the left - our house is immediately on your right. If you miss the road off the main road, take the next one on the right about 100 m later. This will bring you in about 200 m to the T junction described above - our house is on the left before the junction.
</p>
<h2>From Rodez</h2>
<p>
There are Ryanair flights from Stansted to Rodez which is about 45 minutes to the east of Toulonjac. Take signs to <strong>Rodez</strong> and then to <strong>Rignac/Villefranche/Montaubon</strong>. Approaching Villefranche on the D1 from the east, ignore the first exit to Villefranche but continue to the second exit and follow the signs for the <strong>D24</strong> and <strong>Cajarc/Toulonjac</strong>. Coming off the slip road turn left - not right into Villefranche - and enter <strong>Toulonjac</strong>. See directions from Toulonjac above.
</p>
<h2>From the A20</h2>
<p>
If you're coming from the north, the best approach is probably down the <strong>A20</strong> autoroute (Paris/Orleans/Vierzon/Limoges). We normally turn off at <strong>Exit 56</strong> south of <strong>Brive</strong> and take the <strong>D802</strong> to <strong>Figeac</strong>. From Figeac take the <strong>D922</strong> signed for Villeneuve and Villefranche. We normally cut across minor roads from Villeneuve to Lacaze, but it's simpler to carry on towards Villefranche until you meet the <strong>D1</strong> (see above dirctions from Rodez) at which point you go towards <strong>Caussade</strong> before taking signs for the <strong>D24</strong> and <strong>Cajarc/Toulonjac</strong>.  Coming off the slip road turn left - not right into Villefranche - and enter <strong>Toulonjac</strong>. See directions from Toulonjac above.
</p>
<h2>Sunday arrivals</h2>
<p>
If you are arriving on a Sunday, note that the only food shop open in the area closes at lunch time. However the first service station on the autoroute from Toulouse sells bread, milk etc.
</p>

