<% provide(:title, 'Directions') %>
<h1>Directions</h1>
<p>
The nearest large town is <strong>Villefranche-de-Rouergues</strong> in the <strong>Aveyron</strong> department.
</p>
<h2>From Toulouse</h2>
<p>
The easiest airport to fly to is <strong>Toulouse</strong>, with flights from London (BA and Easyjet), Paris, Frankfurt, Istanbul(!), etc. and (in the summer) Edinburgh. You should allow 1½ to 2 hours to get to the house from Toulouse Airport. The best way is to follow autoroute signs to <strong>Bordeaux/Paris</strong> and then to <strong>Paris/Montaubon/Caussade</strong> when the autoroute splits. Leave the autoroute at <strong>Caussade</strong> and take signs for <strong>Villefranche</strong> via <strong>Caylus</strong> on the <strong>D926</strong>. It's a good road, very straight, but there are speed traps so be careful. At the departmental boundary into the Aveyron the road becomes the <strong>D1</strong>. At the first main roundsbout remain on the D1 and do not take the road signed into Villefranche, but keep going straight ahead (signed for <strong>Rodez</strong>). Shortly after, take the first exit for <strong>Cajarc</strong> on the <strong>D24</strong> which runs from Villefranche to Cajarc. Coming off the slip road, don't turn right into Villefranche, but turn left for Cajarc.
</p>
<p> 
You will soon come to the village of <strong>Toulonjac</strong>. Continue through the village (with the bar/restaurant on your left). Soon after leaving the village, look for the sign to <strong>Lacaze</strong> on the right and take that small road. (It is the 2nd right turn from the end of the village) If you miss it, take the next one on the right about 100 m later. Both roads bring you in about 100 m to our house which is facing you.
</p>
<h2>From Rodez</h2>
<p>
 There are Ryanair flights from Stansted to Rodez which is about 45 minutes to the east of Toulonjac.
</p>
<h2>From the A20</h2>
<p>
If you're coming from the north, the best approach is probably down the <strong>A20</strong> autoroute (Paris/Orleans/Vierzon/Limoges). We normally turn off at <strong>Exit 56</strong> south of <strong>Brive</strong> and take the <strong>D802</strong> to <strong>Figeac</strong>. From Figeac take the <strong>D922</strong> signed for Villeneuve and Villefranche. We normally cut across minor roads from Villeneuve to Lacaze, but it's simpler to carry on towards Villefranche until you meet the <strong>D1</strong> (see above) at which point you go towards <strong>Caussade</strong> before taking signs for <strong>Toulonjac</strong>.
</p>
<h2>Sunday arrivals</h2>
<p>
If you are arriving on a Sunday, note that the only food shop open in the area closes at lunch time. However the first service station on the autoroute from Toulouse sells bread, milk etc.
</p>

