<% provide(:title, 'HELP') %>
<h1>HELP</h1>
<%= render 'layouts/print' %> 
<p>
The following people can be approached in an emergency:
<ul>
<li><strong>Neighbours</strong> – Bill and Joan Timm (English) – turn right out of our front door and they are the nearest house past our post box (summer visitors like us).</li>
<li><strong>Neighbours</strong> - Jehan and Suzette Valette (French) – turn left out of the front door and left up the hill at the end of our garden. First house on the right with blue shutters (permanent residents).</li>
<li><strong>Builder</strong> – Andy Low (English) – lives about 20 minutes drive away but is happy to deal with things by phone (and to come over if need be): Home: 05 65 24 95 48;  mobile 06 87 03 82 75
<li><strong>Pool</strong> – Chris Grundy (English) – ditto – mobile 06 21 58 44 53</li>
</ul>
</p>
