<% provide(:title, 'Instructions') %>

<h1>Instructions</h1>
<h2>Entry</h2>
<p>
The <strong>water</strong> will normally be turned <strong>off</strong>. The stopcock is under the manhole cover to the right of the front door as you face the house. Temporarily remove the insulation and turn the tap anti-clockwise to open it.
</p>
<p>
The <strong>electricity</strong> will usually be <strong>on</strong>. The meter is on the outside wall of the house, just round to the left as you face the front. Please make a note of the reading (and when you leave). The fuse box is in the left hand room downstairs (the 'salon') to the right of the window. Most appliances will have been disconnected.
</p>
<p>
Remove <strong>dust sheets</strong> from sofa and store under the stairs in the storage boxes.
</p>
<h2>Exit</h2>
<p>Reverse the instructions for entry!
</p>
<h2>Kitchen</h2>
<p>
We leave the big <strong>fridge</strong> on low. The second fridge for drinks can be used as well, but needs to be defrosted and switched off before leaving, and leave door ajar. The electric cooker is basic but heats up quickly. Store cupboard has usual basics, tea, coffee, sugar, flour, tins, herbs and spices. To prevent mouse activity, try and keep food in cupboards or tins or jars with lids.
</p>
<p>
<strong>Washing machine</strong> - turn tap on before using, and turn off when leaving the house. It used to leak a bit (now mended) so keep an eye and mop up if need be. Instruction manual on top of machine, and detergent etc under sinks. It is a small model, so don't overload. It works well and quickly if you use a 30 deg wash. Pegs in laundry bowl. Washing line in garden.
</p>
<p>
The <strong>water</strong> is very hard here - lots of chalk and build up of lime scale. Try and descale the kettle before you leave using a diluted mixture of white vinegar to steep in it overnight, or any of the more vicious descalers on the shelf in the kitchen. Water is fine to drink -the house is on mains water and drains. There is a water filter Britta if you like to use this.
</p>
<p>
<strong>Rubbish/waste disposal</strong>: Black bin liners are for general waste and the bin is under the sink. Recycling is in the bin to the right as you enter the kitchen using yellow bags. Rules about what can be recycled are on top of the washing machine - mainly cardboard and paper, some cans and plastic bottles (but not caps). Please check first. However, all bottles and glass have to be taken to the bottle bank - nearest one is in Toulonjac behind the primary school, or else in Villefranche.
</p>
<p>
Every Tuesday (early) a.m. is the day for the bin men - bins are to the left of the barn opposite looking out from the kitchen, and are used by all the neighbours too. Thursday is the day for taking away the recycling bins but not sure if weekly or fortnightly.
</p>
<h2>Bedrooms</h2>
<p>There are two rooms upstairs - mind your head on the beams if tall - with a double bed in each. All sheets, towels and pillow cases etc are stored in the big chests, so help yourselves to whatever you need. More sheets and pillow cases in chest downstairs in the 'salon', under the window. Depending on the temperature, you can choose either a lightweight duvet, or just sheets and cotton blankets. Towels are in the chest in the main bedroom to the left of the chimney breast. Also some swimming towels. Other chests upstairs have spare duvets, cotton blankets, pillows etc. There is a mosquito net which we have never used. Old hairdryer available in chest of drawers. Help yourselves to hanging space in wardrobe downstairs or in the bedroom. There are 3 big sunhats (female) and 2 lots of crocs, and gumboots if weather is not hot and sunny.
</p>
<h2>Electric Plugs</h2>
<p>Many of the plugs are very difficult to use, they need a good wiggle and then a lot of force to get them in properly. The new ones in the kitchen are easy.
</p>
<h2>Room heating</h2>
<p>There is an instruction manual for the wood burning stove in the instruction folder - but it is easy to light using kindling and then dry wood stored by the front of the house. Leave a layer of ash in the stove, about 1.5 inches. Matches and firelighters stored around fireplace.
</p>
<p>There are also a couple of electric radiant heaters which can be moved around as necessary.
</p>
<h2>Water heater</h2>
<p>This is located in the bathroom off the second bedroom behind the screen. It is switched on at the fuse board downstairs in the salon; look for the ch(auffe) eau label to the bottom right of the board and pull down the black switch to switch on. 
You can leave it on all the time - it is very efficient and well insulated - but you can also switch it on and off when required. Do not fiddle with the actual water heater in the bathroom. Normally you can see a green and amber light showing. If there is a red light showing, it means there is a fault and the heater needs to be switched off; you can try leaving it off for a while and switching on again. 
</p>
<p>There is a towel heater for cold/wet weather and for drying clothes.
</p>
<p>
There is one hot water bottle.
</p>
<h2>Shutters</h2>
<p>These are easy to close each evening, and if very hot, leave closed during the day to keep the house cool. There are blinds in the main bedroom inside the Velux windows, and these need to be used during the day to keep the bedroom cool. There are two fans for hot weather.
</p>
<h2>Phone and Internet</h2>
<p>The telephone is on a small table behind the front door and should already be connected. The number is: <strong>05 65 45 19 11</strong>. If phoning the house from the UK add 00 33 and omit the first 0 in the number. If phoning the UK from the house, dial 00 44 and omit the first 0.
</p>
<p>The internet and WiFi should also be connected. The security code is:
<strong>A770 F783 F694 06EC A6C5 0CA4 A7</strong>
and is also found inside the Livebox manual (beside the phone).
</p>There is no live television, but the TV plays DVDs so bring your own unless you want to watch old series of our choice. Insert the disc in the slot on the right of the TV with the label facing away from you (i.e. towards the wall).
</p>
<h2>Garden</h2>
<p>There is a table and set of 4 chairs in the shady garden, or you can take them up to the top terrace if preferred. Two loungers are available for use by the pool and are stored under the outside set of steps, along with lots of garden tools.
</p>
<p>
The lawn mower is stored in the garden under a stone area in the hedge. If the grass looks as if it could do with a cut, the mower is easy to start - just press the bulb on the LH side two or three times to prime the carburettor, grip the throttle lever with your left hand and pull the starter rope with your right. It should go after two or three pulls. It is a four-stroke engine so uses separate petrol (in the tank on top) and occasional oil (via the plug lower down).
</p>
<p>There are two rain water tanks, one by the compost heap and the other in the front outside the kitchen. Please use these for watering plants, rather than using the mains water.
</p>
<p>Gentle weeding and picking of fruit if in season is encouraged and welcomed. Compost is in the grassy area. Use the compost bucket in the kitchen for storing kitchen waste before taking it out to the compost heap.
<h2>Swimming pool</h2>
<p>Each day you should remove the pool cover and if any large objects are in the pool, fish them out. There is a filter at the far end of the pool, which you should check each day and remove leaves, dead flies etc caught in the filter.
</p>
<p>The pool guy - Chris Grundy - will come regularly to check the chemicals and vaccuum the pool.</p>
<p>The <strong>pool alarm</strong> is on, to alert if anyone or animal falls in. This is situated on the left hand side of the pool looking at it with the house behind you. This needs to be de-activated when you want to swim. There is a small magnet beside the alarm which you place on the alarm by the swimmer until the green light goes off and it beeps. It is best to keep the magnet beside the alarm when you are in residence, so it is always easy to use. It times out quite quickly, so always check before going into the pool. 
</p>
<p>Put the pool cover back on at end of the day, to keep the heat in overnight. There are inflateable things in the sejour, lilos in bottom of the wardrobe plus the armchair.
</p>
<p>There is a outdoor tap and shower for the pool, round the back of the house near the thermometer.
</p>
<h2>Parking</h2>
<p>Park outside the house or, if you prefer, you could bring the car into the garden by the side entrance. But you must keep the side entrance closed at all times, to prevent access to the swimming pool, animals coming in etc. If parking against the wall of the barn opposite, please avoid parking over the small cover (to the centre right) which Dominique (the cow man) uses.
</p>
<h2>Shopping</h2>
<p>There are no shops in Toulonjac, so your nearest supermarket is <strong>Leclerc</strong> (which is huge and sells almost everything), situated on the road from the bypass to Villefranche. There are two ways to get there:
<ul>
<li>Drive through Toulonjac as if going to Villefranche. Take first right at the first roundabout you come to, signed Cahors and Montaubon. Join the main road and at the first roundabout take a left turn signed to Villefranche. At the next roundabout, turn left and Leclerc is on your left. (Petrol pumps on right at the roundabout)
</li>
<li>Leave Lacaze by the road to the right as you look out of the front door (past the Timms), take a dog's leg over the main road to the road opposite. This goes left and then sharp right as it joins a road coming up from the village. Go past the football and tennis courts (bottle bank) and keep on until you reach a left turn (opposite the field with deer) signed La Mathebie. Keep going on this road (approx 1.5 km) which will eventually lead you under the bypass and to Leclerc on your right.</li>
</ul>
</p>
<p>Other supermarkets also in Viilefranche are:
<ul>
<li><strong>HyperU</strong>: Take the road through Toulonjac and head into Villefranche. HyperU is signed to the left at the first set of traffic lights. The supermarket is on your left.
</li>
<li><strong>Intermarche</strong>: Get to Leclerc and then continue down the main road to the centre of Villefranche. Intermarche will be signposted on the right.
</ul>
</p>
<p>You can get into Villefranche by staying on the road from Toulonjac and going under the bridge. Best to park in the centre and walk into the old centre or down to the bridges.
</p>
<p>Almost all shops close on Sunday. Intermarche is open Sunday mornings
</p>
<p>Market day in Villefranche is on a Thursday - in high season, best to get there not too late, by 10.30 if poss. Parking is difficult but head for the car park you first come to when driving in to Villefranche by the direct route. It is a wonderful market right in the centre of the town, under the medieval arcades and all surrounding streets too.
</p>
