<% provide(:title, 'Pool') %>
<h1>Weekly Pool Routine</h1>

<%= render 'layouts/print' %> 

<h2>General</h2>
<ul>
	<li>The valves - SKIMMER, PRISE BALAI ASPIRATEUR (plug for the vacuum brush), BONDE DE FOND (bottom outlet) and REFOULEMENT (return) - all open anti-clockwise: it may take two hands. The valves are OPEN when they are aligned with the pipe and CLOSED when at right-angles.</li>
	<li>The pump switch is the top one at the side of the electrical cabinet. It has three positions: <strong>UP = ON; MIDDLE = OFF; DOWN = TIMER</strong>.</li> 
    <li>At present the bottom switch at the side of the electrical cabinet does nothing!</li> 
    <li>The main control valve has six positions: FILTER, WASTE, CLOSED, BACKWASH, RECIRCULATE, RINSE.</li> 
    <li>Normal settings are:  
        <ul>
            <li>Pump = TIMER</li>
            <li>main control valve = FILTER</li>
            <li>SKIMMER=OPEN</li>
            <li>PRISE BALAI ASPIRATEUR = CLOSED</li>
            <li>BONDE DE FOND=OPEN</li> 
            <li>REFOULEMENT=OPEN</li>
        </ul>
    </li>  
    <li><strong>Always switch the pump OFF before altering the main control valve or any other valve</strong>.</li> 
    <li>The capacity of the pool is 50 cubic metres (m3)</li> 
</ul>

<h2>Daily clean</h2> 
<ul>
    <li>Remove large debris and leaves from pool</li> 
    <li>Check skimmer basket for leaves, etc.</li>
</ul>

<h2>Start water fill</h2> 
<ul>
    <li>Start filling the pool using the outside tap and hose.</li> 
    <li>Keep the water running while the following operations are carried out.</li> 
</ul>

<h2>Clean bottom of  pool</h2>
<ul>
    <li>Get white corrugated hose and vacuum brush from the pool store.</li> 
    <li>Fill the hose with water (possibly using one of the inlet jets), attach the brush to the non-threaded end of the hose and attach the metal pole to the brush. Screw the threaded end of the hose into the suction port (above the light).</li> 
    <li>Switch the pump OFF; make sure that the main control valve is set to FILTER; close the SKIMMER and BONDE DE FOND valves and open the PRISE BALAI ASPIRATEUR; the REFOULEMENT valve stays open; switch the pump ON.</li> 
    <li>Gently vacuum the bottom of the pool. Take care not to pierce the liner.</li> 
    <li>Switch the pump OFF; return the valves to their original positions: the SKIMMER and BONDE DE FOND valves are open and the PRISE BALAI ASPIRATEUR valve closed.</li> 
    <li>Remove the corrugated hose, brush etc.</li> 
</ul>
 
 <h2>Clean filter basket</h2>
<ul>
    <li>Check that the pump is OFF; set the main control valve to CLOSED; close the SKIMMER, BONDE DE FOND and REFOULEMENT valves; the PRISE BALAI ASPIRATEUR should already be closed.</li> 
    <li>Remove the lid of the filter basket by turning anti-clockwise (arrows); requires both hands and a bit of force.</li> 
    <li>Remove the white filter basket and clean out the debris.</li> 
    <li>Replace the basket – it only fits properly in one position, with the entry hole to the left.</li> 
    <li>Replace the lid – turn clockwise.</li> 
    <li>Open the SKIMMER, BONDE DE FOND and REFOULEMENT valves; set the main control valve to FILTER; switch the pump ON and check correct operation.</li> 
</ul>

<h2>Clean main filter</h2> 
<ul>
    <li>Switch the pump OFF; set the main control valve to BACKWASH; switch the pump ON.</li> 
    <li>Backwash for about 2 minutes.</li> 
    <li>Switch the pump OFF; set the main control valve to RINSE; switch the pump ON.</li> 
    <li>Rinse for about 1 minute. </li>
    <li>Switch the pump OFF; set the main control valve to FILTER. (Do not switch pump on – see below).</li> 
</ul>
    
<h2>Clean liner at water level</h2> 
<ul>
    <li>Use small amounts of gel (Nettoyant Ligne d’Eau) and a non-scratch kitchen sponge.</li> 
</ul>

<h2>Add weekly chemicals</h2>  
<ul>
    <li>Put an amount of Multifunction in skimmer to suit the capacity of the pool ( 50m3).</li> 
</ul>

<h2>Test pH and chlorine</h2> 
<ul>
    <li>Use the test kit. pH should be ... </li> 
</ul>

<h2>End water fill</h2> 
<ul>
    <li>Water should end up at the level of the mark on the skimmer.</li> 
    <li>Switch pump ON to check operation and then to TIMER. (Note that if you switch the pump on before the water is at the correct level , the skimmer outflow will suck in air).</li> 
</ul>

<h2>Miscellaneous</h2> 
<ul>
    <li>If the angles between the walls and the bottom are dirty, clean them with the brush which fits on the end of the pole.</li> 
    <li>The timer is set to run for 9 hours from 07:00 to 16:00. If the electricity has been switched off for any length of time, the timer will need to be re-synchronised.</li> 
    <li>The pressure gauge should not indicate a pump pressure in the red sector. If it does, immediately stop the filtration and clean the filter basket and the filter.</li> 
</ul>

<h2>HELP</h2> 
<ul>
    <li>Chris Grundy (the guy who looks after the pool when we aren’t doing so) is very nice.
        Call him:  mobile: 06 21 58 44 53 </li>
</ul>
