<% provide(:title, 'Pool') %>
<h1>Weekly Pool Routine</h1>

<%= render 'layouts/print' %> 

<h2>General</h2>
<ul>
	<li>The pool filter system is in the white fiberglass box next to the top terrace; lift the cover to access the controls. The electrical control box is to the left.</li>
    <li>The valves - SKIMMER, PRISE BALAI ASPIRATEUR (plug for the vacuum brush), BONDE DE FOND (bottom outlet) and REFOULEMENT (return) - all open anti-clockwise: it may take two hands. The valves are OPEN when they are aligned with the pipe and CLOSED when at right-angles.</li>
	<li>The pump switch is the top one at the side of the electrical cabinet. It has three positions: <strong>UP = ON; MIDDLE = OFF; DOWN = TIMER</strong>.</li> 
    <li>At present the bottom switch at the side of the electrical cabinet does nothing!</li> 
    <li>The main control valve has six positions: 
        <br>
        <strong>FILTER</strong>: circulates the water from the pool through the filter and back to the pool.
        <br>
        <strong>BACKWASH</strong>: circulates water from the pool through the filter and out to the soakaway.
        <br>
        <strong>RINSE</strong>: circulates water from the pool through the filter in the other direction and out to the soakaway. 
        <br>
        <strong>WASTE</strong>: water goes from the pool directly into the soakaway
        <br>
        <strong>CLOSED</strong>: nothing is connected to anything else!
        <br>
        <strong>RECIRCULATE</strong>: circulates the water directly back to the pool.
    <li>Normal settings are:  
        <br>
        <strong>Pump switch</strong> = TIMER
        <br>
        <strong>Main control valve</strong> = FILTER
        <br>
        <strong>SKIMMER</strong> = OPEN
        <br>
        <strong>PRISE BALAI ASPIRATEUR</strong> = CLOSED
        <br>
        <strong>BONDE DE FOND</strong> = OPEN 
        <br>
        <strong>REFOULEMENT</strong> = OPEN
    </li>  
    <li><strong>Always switch the pump OFF before altering the main control valve or any other valve</strong>.</li> 
    <li>The capacity of the pool is 50 cubic metres (m3)</li> 
</ul>

<h2>Daily clean</h2> 
<ul>
    <li>Use the net to skim the surface and to remove large objects from the bottom. Our convention is that the red plastic tag should be outside the net when using it in the pool.</li> 
    <li>Remove leaves, etc. from the skimmer basket - the cover is in the middle at the top end of the pool.</li>
</ul>

<h2>Start water fill</h2> 
<ul>
    <li>If the water level has fallen below the mark on the pool side of the skimmer, start filling the pool using the outside tap and hose.</li> 
    <li>Keep the water running while the following operations are carried out, but switch it off when it gets to the correct level.</li> 
</ul>

<h2>Clean bottom of  pool</h2>
<ul>
    <li>Get white corrugated hose and vacuum brush from the pool store.</li> 
    <li>Fill the hose with water (possibly using one of the inlet jets), attach the brush to the metal pole (having removed the net). Screw the threaded end of the hose into the suction port (above the light).</li> 
    <li>Switch the pump OFF; make sure that the main control valve is set to FILTER; close the SKIMMER and BONDE DE FOND valves and open the PRISE BALAI ASPIRATEUR; the REFOULEMENT valve stays open; switch the pump ON.</li> 
    <li>Gently vacuum the bottom of the pool. Take care not to pierce the liner.</li>
    <li>Switch the pump OFF; close the PRISE BALAI ASPIRATEUR and REFOULEMENT valves.</li> 
    <li>Remove the corrugated hose, brush etc.</li> 
</ul>
 
 <h2>Clean filter basket</h2>
<ul>
    <li>Check that the pump is OFF; set the main control valve to CLOSED; check that the SKIMMER, PRISE BALAI ASPIRATEUR, BONDE DE FOND and REFOULEMENT valves are all closed.</li> 
    <li>Remove the lid of the filter basket by turning anti-clockwise (arrows); requires both hands and a bit of force.</li> 
    <li>Remove the white filter basket and clean out the debris - I nornally do it in the kitchen sink.</li> 
    <li>Replace the basket – it only fits properly in one position, with the entry hole to the left.</li>
    <li>Replace the lid – turn clockwise.</li> 
    <li>Open the SKIMMER, BONDE DE FOND and REFOULEMENT valves; set the main control valve to FILTER; switch the pump ON and check correct operation. In particular, check that the water level is up to the mark or else the skimmer will suck in air.</li> 
</ul>

<h2>Clean main filter</h2> 
<ul>
    <li>Switch the pump OFF; set the main control valve to BACKWASH; switch the pump ON.</li> 
    <li>Backwash for about 2 minutes.</li> 
    <li>Switch the pump OFF; set the main control valve to RINSE; switch the pump ON.</li> 
    <li>Rinse for about 1 minute. </li>
    <li>Switch the pump OFF; set the main control valve to FILTER. (Do not switch pump on – see below).</li> 
</ul>
    
<h2>End water fill</h2> 
<ul>
    <li>Backwashing and rinsing will drain water from the pool, so if necessary, continue filling until the water is at the level of the mark on the skimmer.</li> 
    <li>Switch pump ON to check operation and then to TIMER.</li> 
</ul>

<h2>Clean liner at water level</h2> 
<ul>
    <li>Use small amounts of gel (Nettoyant Ligne d’Eau) and a non-scratch kitchen sponge.</li> 
</ul>

<h2>Add weekly chemicals</h2>  
<ul>
    <li>Put an amount of Multifunction in skimmer to suit the capacity of the pool (50m3).</li> 
</ul>

<h2>Test chemical levels</h2> 
<ul>
    <li>In general, if the water is clear, don't be in a hurry to do anything!</li>
    <li>Use the test kit which consists of a tube with paper strips in it. Take one strip and dip it into the pool about 15 cm below the surface for 2 seconds. Hold it horizontally without shaking. Take it out, holding it horizontally with the coloured indicators uppermost. Shake once to remove any excess water and check the colours against the chart on the tube. At the moment I'm really only concerned with pH which should be between 7.2 and 7.8. If necessary, add pH+ or pH- chemicals (which are held in the pool store) as appropriate and as indicated on the container.</li>
    <li> 
        If you're a chemist or are really keen, here are the instructions which came with the test kit:
        <br>
        <strong>Cl</strong> - Free chlorine (ideal level from 0.6-1 ppm for comfort and 1-3 ppm for safety). Indicates the quantity of chlorine active as a disinfectant.
        <br>
        <strong>Br</strong> - Bromine (ideal level from 1-2 ppm for comfort and 3-6 ppm for safety).
        <br>
        <strong>TCl</strong> - Total chlorine (ideal level from 0.6-1 ppm for comfort and 1-3 ppm for safety). Indicates the quantity of chlorine (free and combined). If the reading of total chlorine is greater than that of free chlorine, the pool needs to be oxygenated to destroy the combined chlorine.
        <br>
        <strong>Alc</strong> - Alcalinity (ideal level 80-120 ppm). The ideal level of alkalininty must be maintained to avoid rapid changes in pH and for accurate readings from the strip.
        <br>
        <strong>pH</strong> (ideal level from 7.2-7.8). The ideal level must be maintained to avoid corrosion (pH too low) or deposits (pH too high). A violet colour indicates too much chlorine or bromine. 
        <br>
        <strong>Th</strong> - Total hardness (ideal level 100 ppm). Indicates the level of calcium and magnesium. The ideal level should be maintained to avoid corrosion (Th too low) or deposits (Th too high).
        <br>
        <strong>Cya</strong> - Cyanuric acid (maintain a level less than 40 ppm). Cyanuric acid (stabiliser) is used to protect the chlorine from being degraded by the UV (ultra violet) in sunlight. To get the most precide measurement, pH must be between 7.0 and 8.4.
    </li>        
</ul>


<h2>Miscellaneous</h2> 
<ul>
    <li>If the angles between the walls and the bottom are dirty, clean them with the brush which fits on the end of the pole.</li> 
    <li>The timer is set to run for 9 hours from 07:00 to 16:00. If the electricity has been switched off for any length of time, the timer will need to be re-synchronised.</li> 
    <li>The pressure gauge should not indicate a pump pressure in the red sector. If it does, immediately stop the filtration and clean the filter basket and the filter.</li> 
</ul>

<h2>HELP</h2> 
<ul>
    <li>Chris Grundy (the guy who looks after the pool when we aren’t doing so) is very nice.
        Call him:  mobile: 06 21 58 44 53 </li>
    <li> Angela at Piscines Art Deco (Villefranche) is English and is very helpful. Piscines Art Deco installed the pool cover and are located just beyond HyperU on the same side of the road (set back a bit). Their phone is: 05 65 45 78 28
</ul>
