<% provide(:title, 'Spring/Autumn') %>
<h1>Spring/Autumn</h1>
<h2>In advance</h2>

<h3>Pool</h3> 
<ul>
	<li>See below</li> 
</ul>
<h3>Phone</h3> 
<ul>
    <li>Cancel the phone</li> 
    <li>Cancel the internet</li> 
    <li>Unplug phone from socket</li> 
</ul>
<h3>Kitchen</h3> 
<ul> 
    <li>Clean the main fridge of perishable food; defrost both</li> 
    <li>Put perishable food in storage tins</li> 
</ul>
<h3>Sofas</h3> 
<ul> 
    <li>Cover sofas with plastic/dust sheets</li> 
</ul>
<h3>Mice</h3> 
<ul> 
    <li>Put down mouse bait</li> 
</ul>
<h3>Garden</h3> 
<ul> 
    <li>Bring comfy loungers into the house</li> 
    <li>Bring BBQ into house and store by the stove</li> 
    <li>Tidy ‘shed’ and cover with blue plastic</li> 
    <li>Store pots under the hedge</li> 
    <li>Hide the wheelbarrow</li> 
    <li>Bring in the clothes line</li> 
</ul>
<h2>Leaving</h2>

<h3>Water supply</h3> 
<ul> 
    <li>Close outside tap</li> 
    <li>Take reading</li> 
</ul>
<h3>Drain water system</h3> 
<ul>
	<li>See below</li>
</ul>
<h3>Shutters</h3> 
<ul> 
    <li>Close</li> 
</ul>
<h3>Electricity</h3> 
<ul> 
    <li>Switch off</li> 
    <li>Take reading</li> 
</ul>
<h3>Keys</h3> 
<ul> 
    <li>One in house</li>
    <li>One hidden</li>
</ul>

<h2>Pool</h2>
<h3>Summer cover</h3>
<ul>
	<li>Roll up – cleaning carefully as you do so</li>
	<li>Wrap in white plastic using four elastic ties</li>
</ul>

<h3>Clean the pool</h3>
<ul>
	<li>Vacuum the bottom and clean the liner at water level (as for weekly clean)</li>
</ul>

<h3>Water in pool</h3>
<ul>
	<li>These activities can go on as the same time as the other activities down to *Plugs</li>
	<li>Set the main control valve to WASTE, close SKIMMER and check BONDE DE FOND open</li>
	<li>Lower the water level to just below the level of the inlets</li>
	<li>At some point carefully open the SKIMMER valve to suck out the water from the skimmer pipe</li> <li>Close it when air starts to come through into the filter basket</li>
	<li>Add enough anti-freeze for 50m3
	<li>move main control valve from WASTE toRECIRCULATE with SKIMMER closed and BONDE DE FOND open</li>
</ul>

<h3>Alarm</h3>
<ul>
	<li>Remove the alarm (four screws) and save screws; remove at least one battery</li>
</ul>
<h3>Put in floats</h3>
<ul>
	<li>Tether floats to spikes at opposite corners so that they go diagonally across the pool</li>
	<li>Easiest to connect the floats by going into the pool</li>
</ul>

<h3>Steps</h3>
<ul>
	<li>Lift the two slabs which enclose the steps</li>
	<li>For each of the two tubes:
		<ul>
			<li>dig away the sand around it until you have exposed the bolts and the top of the plastic sleeve; keep the sand in a plastic bucket</li>
			<li>unscrew the bolt furthest away from the pool to about 1cm – don’t unscrew completely; don’t touch the bolt nearest the pool</li>
			<li>tap down gently on the top of the bolt then pull on the tube; if it starts to come away, fine; if not, repeat the unscrewing and tapping</li>
		</ul>
	</li>
	<li>Pull upwards on both tubes to remove the steps</li>
	<li>Replace the slabs</li>
	<li>Clean the steps and store</li>
</ul>

<h3>*Plugs</h3>
<ul>
	<li>Stop the pump
	<li>Remove the jets from the inlets and use small plugs on inlets and on vacuum outlet</li>
	<li>Remove and store the skimmer basket; insert the large bung into skimmer outlet</li>
</ul>
<h3>Filter basket</h3>
<ul>
	<li>Clean (as for weekly clean)</li>
</ul>
<h3>Filter</h3>
<ul>
	<li>Do several backwashes and rinses</li>
	<li>Close BONDE DE FOND and REFOULEMENT</li>
	<li>Remove and store bottom plug to drain filter</li>
	<li>Remove and store top cover</li>
</ul>
<h3>Pump</h3>
<ul>
	<li>Remove and store bottom plugs (two) to drain</li>
</ul>
<h3>Winter cover</h3> 
<ul>
	<li>Install using metal stakes and elastics</li>
	<ul>
		<li>start with middle pegs at one end</li>
		<li>move down pool doing the occasional peg on both sides</li>
		<li>do middle pegs at other end</li>
		<li>finally do corners</li>
    </ul>
</ul>
<h3>Pump house</h3>
<ul>
	<li>Clean out leaves and standing water</li>
	<li>Fill with as much bubble wrap as available</li>
</ul> 
<h3>Power</h3>
<ul>
	<li>Cut power at distribution board in Salon</li>
</ul>

<h2>Draining the plumbing</h2>
<p>Do all the following…..about half an hour of work.   To re-fill the system, after the winter, it is generally necessary to reverse each of these stages, and then to open each tap to let out trapped air, until the water runs freely…then, finally, to close the chauffeau fuses on the main fuse box.
</p>

<ol>
	<li>Turn off the main stop cock next to the meter, outside the front door (Tap handle will then be at right angles to the line of the water pipe).  Ensure that the chauffeau fuses on the main fuse box are in the open position. Ensure there is insulation covering the water meter.</li>
	<li>Behind the house:
		<ul>
			<li>Turn on the outside tap.</li>
        	<li>Turn on the two silver coloured shower isolation valves. This needs a small flat bladed screwdriver, or similar. The slots in the valveswill then be parallel to the water pipes.</li>
        	<li>Loosen the brass drain cock at the bottom of the pipe on your left.</li>
		</ul>
	</li>
	<li>Kitchen:
		<ul>
			<li>Turn on the sink tap (Set it to the middle, so both hot and cold are on).</li>
            <li>Turn on the washing-up machine tap (Right hand side, below the sink). This will release water, so put a bowl beneath it, first.</li>
            <li>Disconnect the flexible pipe to the washing machine (unscrew the blue collar ant-clockwise).</li>
            <li>Turn on the washing machine tap. This will release water, so catch it in a mug.</li>
        </ul>     
    </li>
	<li>Main shower room:
		<ul>
			<li>Flush the loo.
            <li>Open basin tap … keep it in the middle to open both hot and cold.</li>
            <li>Place shower head on the floor of the shower, then open the shower tap, again at the central position.</li>
        </ul>
    </li>
	<li> Bathroom en-suite to guest bedroom:
		<ul>
			<li>Flush the loo.</li>
            <li>Turn on hot and cold bath and basin  taps.</li>
            <li>Turn on both bidet taps.</li>
            <li>Drain the chauffeau by turning the red knob one click anti-clockwise…this can be left to drain in it’s own time (Approx 15 minutes)</li>
        </ul>
    </li>
    <li>Main sitting room, behind the front door:   See the picture below….
    	<ul>
    		<li>Raise electrical items off the floor.</li>
            <li>Ensure the tap on the top, on the right (The big one) is open … i.e. turned fully anticlockwise. This is good for all the year.</li>
            <li>Open the horizontal drain cock on the left, slowly, and catch the water which will run out….probably 3+ saucepans full.  Leave it open, with a pan beneath to catch drips which will continue for an hour or so.</li>
        </ul>
    </li>
    <li>Finally:  Pour a little car antifreeze into each plug hole:
    	<ul>
            <li>Kitchen sink</li>
            <li>Shower</li>
            <li>Bath</li>
            <li>Bidet</li>
            <li>Both wash basins on the top floor</li>
            <li>The two loos (the bowls and the cisterns)</li>
        </ul>
    </li>
    <li>Remember !….
    	<ul>
    		<li>Andy can blow the system clear with compressed air …. That extracts a good few saucepans full</li>
    		<li>When re-filling the system, check that each stage has been dealt with. A loose drainage point will cause a minor flood ……..!</li>
    	</ul>
    </li>
   </ol>
