<% provide(:title, 'Taxis') %>
<h1>Taxis</h1>
<p>We haven't actually used any of these, but we did at one point contact Mahe - who speaks English.
<ul>
<li>MAHE: 06 73 33 33 73</li>
<li>Michel DOURNES: 06 08 97 30 (mob 06 72 16 04 22)</li>
<li>FREYSSINET: 05 08 97 35 30</li>
<li>LACASSAGNE:	05 65 81 10 10</li>
<li>H VILLEFRANCHOIS: 05 65 45 60 60</li>
<li>XAVIER: 06 03 13 48 46</li>
<li>RAYNAL: 06 19 69 11 11</li>
<li>D'MARTIEL: 06 73 67 25 00</li>
</ul>
</p>

