<% provide(:title, 'Things to do') %>
<h1>Things to do</h1>
<h2>Eating</h2>
<p>The restaurant in Toulonjac is great for lunchtime - very friendly patron. During the week there is a fixed menu at a very reasonable price. You can walk home if need be!
</p>
<h2>Visiting</h2>
<p>There is a selection of maps and guides in the house for the area – help yourselves.
</p>
<p>
Good places to visit:
<ul>
	<li>Figeac – lovely town</li>
	<li>Albi – ditto, plus Toulouse Lautrec art gallery</li>
	<li>Cajarc – on the Lot river</li>
	<li>Najac</li>
	<li>Villeneuve</li>
	<li>Peyrusse le Roc</li>
	<li>Conques</li>
</ul
</p>


